{% extends 'base.html' %}
{% load static%}

{% block head %}
    <link rel="stylesheet" href="{% static 'Home/css/Home.css' %}">
{% endblock %}


{% block content %}


<div class="HeroSection">
    <img src="{% static 'Home/images/1721418270319.jpg' %}" alt="Image" class="Image1">

    <h1 class="S1">Discover Unique Product a at Unbeatable Prices</h1>
    <div class="S2">
        <p class="p">welcome to BUBBEL, your go-to online shopping destination for a divers range of product Start exploring our exciting collerction and find what you love!</p>
        <a href="/products" class="Shop2"> Shop</a>
        <button class="Learn"> Learn More</button>
    </div>
</div>




<div class="FeaterSection">
    <div class="F1">
<p class="p2">Understanding Our Payment and Delevery Process</p>
<p class="p3">At BUBBEL, we prioritize your shopping experince. Our payment methods are secure and flexible to suit your needs.</p>
    </div>
    <div class="F2">
        <div class="Feature">
            <logo>B</logo>
            <p1>Easy Payment Options for Your Convenience </p1>
            <p2>choose from various payment methods including credit card and pay on delevery</p2>
        </div>
        <div class="Feature">
            <logo>B</logo>
            <p1>Fast and Reliabel Delivery Service </p1>
            <p2>We ensure your product arrive promptly and safely</p2>
        </div>
        <div class="Feature">
            <logo>B</logo>
            <p1>Track Your Order with Ease</p1>
            <p2>Stay updated on your  delivery status through our Tracking system</p2>
        </div>
    </div>
    <div class="F3">
        <button class="F3-B1"> Learn More</button>
        <button class="F3-B2"> Sign Up ></button>
    </div>
</div>


<div class="Featerproduct">
    <img src="{% static 'Home/images/f7c37a46-689b-4d18-bbbe-2c7dafc48a83.jpg' %}" alt="Image" class="Image2">
</div>





<div class="FeaterSection2">
    <div class="FSText">
        <p class="FST1">
            Discover the Amazing Features of Our Online Shopping Platform
        </p>
        <p class="FST2">
            At BUBBEL, we offer a divers selection of product to meet your needs. Our platform is designed for convience,mading shopping easier than ever. Enjoya seamless experience with just a few clicks. 
        </p>
    </div>
    <div class="FSImages">
        <div class="FS">
            <img src="{% static 'Home/images/1721418270319.jpg' %}" alt="Image" class="Image3">
            <p class="FSp">
                Explore Our Extensive Range of Quality Products
            </p>
            <p1 class="FSp1">
                From electronics to home goods, we have it all
            </p1>
        </div>
        <div class="FS">
            <img src="{% static 'Home/images/f7c37a46-689b-4d18-bbbe-2c7dafc48a83.jpg' %}" alt="Image" class="Image3">
            <p class="FSp">
                Experince Lightning-Fast Delivery Right ti Your Doorstep
            </p>
            <p1 class="FSp1">
                Get your order delivered quickly qnd efficiently, so you can enjoy them sooner
            </p1>
        </div>
        <div class="FS">
            <img src="{% static 'Home/images/pexels-photo-230544.jpg' %}" alt="Image" class="Image3">
            <p class="FSp">
                Shop with Confident Using Our secure pament Options
            </p>
            <p1 class="FSp1">
                Your financial is our top priority,ensuring safe transaction
            </p1>
        </div>
    </div>
</div>


<div class="BenefitsSection">
    <div class="BS">
    <p class="BT1">Discover The Benefits of Shopping with BUBBEL</p>
    <p  class="BSp">Shopping with BUBBEL offers unmatched convience, allowing you to brows and purchase from the comfort of your home. Enjoye exclusive deals that you won't find anywhere else, ensuring you get the best value for your money. Our commitment to customers satisfaction means you're alwaysour top priority.  </p>

    </div>
    <div class="BT2"> 
       <img src="{% static 'Home/images/pexels-photo-230544.jpg' %}" alt="Image" class="Image4" >
    </div>
</div>


<div class="ShopSection">
    <p class="SSh">Discover Your Next Favorite Product</p>
    <p class="SSp">Browes our divers range of product and find exactly what you need today!</p>
    <div class="SSbutons">
        <a href="/products" class="Shop3">Shop</a>
        <button class="Sign2">Signe In</button>
    </div>
</div>


 

{% endblock %}