@font-face {
    font-family: American Typewriter ;
    src: url('../fonts/AmericanTypewriter.ttc') format('tcc');
}
body,html{
    overflow-x: hidden;
}
.Image{
    margin: 10px 0px;
    width: 90vw;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}
.name{
    font-size: 1.5rem;
    font-weight: bold;
    font-family: sans-serif;
    border-top: 1px solid;
    margin:0;
    padding-top: 5px;
}
.description{
    font-size: 0.9rem;
    margin:0;
    padding-top: 5px;
}
.price{
    font-family: American Typewriter ;
    font-weight: 500;
    font-size: 2rem;
}
.buy{
    display: flex;
    justify-content: space-between;
    width: 95%;
}
.Cart{
    font-size: 1.3rem;
    height: 50px;
    margin:  30px 0px;
    background-color:  rgb(0, 161, 224);
    border: transparent;
}
.ADD{
    font-size: 1.3rem;
    height: 50px;
    margin:  30px 0px;
    background-color:  black;
    color: white; 
    border: transparent;  
    width: 50px;
}
.Images{
    width: 60vw;
    height: 27vh;
    padding-left: 5px;
}
.sheading{
    font-size: 1.9rem;
    font-family: American Typewriter ;
    padding: 10px 0;
    border-bottom: 1px solid;
    margin: 0;
}
.AllImages{
    display: flex;
    border-top: 1px solid;
    border-bottom:1px solid;
    padding:5px;
    overflow-x: scroll;
}


.profile{
    display: flex;
}
.profilepic{
    margin-top: 5px;
    margin-right: 5px;
    width: 10vw;
    height: 5vh;
    border-radius: 60%;
}
.username{
    margin: 0;
    padding: 0;
    margin-top: 10px;
    border-bottom: 1px solid;
    font-size: 1.3rem;
}
.comment{
    margin-left: 30px;
    font-size: 1.4rem;
    margin: 0;
    margin-top:5px ;
    padding-bottom: 15px;
}
.review{
border-bottom: 1px solid;
padding-bottom: 5px;
background-color: gray;
}
.Treview{
padding-top: 15px;
  font-size: 1.2rem;
  font-family: sans-serif;
  margin: 0;
}
.inputcomment{
    border: 1px solid;
    font-size: 1.3rem;
}
.simages{
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 150px;
    grid-auto-columns: 150px;
    column-gap: 100px;
    overflow-x: scroll;
    padding: 10px 0;
    border-bottom: 1px solid;
}
.pImages{
    width: 90%;
    height: 20vh;
    border-radius: 25px;
}
@media (min-width: 415px) {
.Image{
    width: 35vw;
    height: 60vh;
    margin: 10px 0px;
    position:static;
    transform: none;
    border-radius: 25px;
    margin-left: 5%;
}
.main{
    display: flex;
    align-items: flex-start;
    margin-right: 5%;
    width: 100vw;
}
.name{
    font-size: 2.4rem;
    margin-top: 10px;
    border-top: none;
    font-weight: bolder;
    
}
.description{
    font-size: 1.4rem;
    width: 70%;
    font-family: sans-serif;
    font-weight: 500;
}
.buy{
margin-top: 10%;
}
.price{
    font-weight: 300;
}
.info{
    margin-left: 15px;
}
.Images{
    width: 30%;
    border-radius: 25px;
}
.pImages{
    width: 90%;
    border-radius: 25px;
}
.review{
    margin-top: 10px; 
    border-top: 1px solid;
    background-color: rgb(158, 158, 158);
    text-align: center;
    padding: 30px 0;
}
.username{
    border-bottom:none ;
    font-size: 1rem;
}
.comment{
    font-weight: bolder;
    margin: 0 150px;
    font-size: 1.2rem;
}
.suggestions{
    border-top: 1px solid;
    margin-top: 30px;
}

}
